* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #282D35;
}

/*Navbar*/
.nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_title{
  margin-right: auto;
  color: #61DAFB;
  font-size: 22px;

}

.nav--title{
  color: #DEEBF8;
  font-weight: 600;
}

.nav--logo{
  height: 30px;
  margin-right: 8px;
}

/*Main*/

.main {
  padding: 55px 27px;
  color: white;
  background: url("./images/react-icon-large.png") no-repeat right 75%;
}

.main--title {
  font-size: 40px;
  padding: 10px;
  letter-spacing: -0.05em;
}

.main--list {
  margin-top: 40px;
  max-width: 400px;
}

.main--list li {
  padding-block: 10px;
}

.main--list li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}